frontend/node_modules
frontend/.venv
.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
api/__pycache__
__pycache__
.DS_Store
